@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@media screen and (min-width: 600px) {
  header {
    background: url("../../assets/img/bg_menu.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    /* use viewport-relative units to cover page fully */
    height: 100vh;
    width: 100vw;
    /* include border and padding in element width and height */
    /* full-sized  container that fills up the page */
    /* example padding, font-size, background, etc */
    text-align: center;
    align-items: center;
    align-content: center; }
    header .navigation {
      height: 70px;
      background: transparent; }
    header .nav-container {
      max-width: 1000px;
      margin: 0 auto; }
    header .brand {
      position: absolute;
      padding-left: 20px;
      float: left;
      line-height: 70px;
      text-transform: uppercase;
      font-size: 1.4em;
      font-family: Source Sans Pro;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.1em; }
      header .brand a,
      header .brand a:visited {
        color: #ffffff;
        text-decoration: none; }
    header nav {
      display: flex;
      justify-content: center; }
      header nav ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        header nav ul li {
          float: left;
          position: relative; }
          header nav ul li a {
            display: block;
            padding: 10px 20px 0 20px;
            line-height: 50px;
            background: transparent;
            color: #ffffff;
            text-decoration: none;
            font-family: Source Sans Pro;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.2em; }
            header nav ul li a::before {
              transition: 300ms;
              height: 5px;
              content: "";
              position: absolute;
              background-color: #ffffff;
              width: 0%;
              bottom: 0px; }
            header nav ul li a:hover::before {
              width: 70%; }
            header nav ul li a:not(:only-child):after {
              padding-left: 4px;
              content: " ▾"; }
          header nav ul li ul li {
            min-width: 190px; }
            header nav ul li ul li a {
              padding: 15px;
              line-height: 20px; }
    header .nav-dropdown {
      display: none;
      position: absolute;
      z-index: 1;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }
    header .nav-mobile {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      height: 70px;
      width: 70px; } }
  @media only screen and (min-width: 600px) and (max-width: 799px) {
    header .nav-mobile {
      display: block; }
    header nav {
      width: 100%;
      padding: 70px 0 15px; }
      header nav ul {
        display: none; }
        header nav ul li {
          float: none; }
          header nav ul li a {
            padding: 15px;
            line-height: 20px; }
            header nav ul li a:hover::before {
              width: 20%; }
          header nav ul li ul li a {
            padding-left: 30px; }
    header .nav-dropdown {
      position: static; } }

@media screen and (min-width: 600px) {
    header #nav-toggle {
      position: absolute;
      left: 18px;
      top: 22px;
      cursor: pointer;
      padding: 10px 35px 16px 0px; }
      header #nav-toggle span,
      header #nav-toggle span:before,
      header #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: #ffffff;
        position: absolute;
        display: block;
        content: "";
        transition: all 300ms ease-in-out; }
      header #nav-toggle span:before {
        top: -10px; }
      header #nav-toggle span:after {
        bottom: -10px; }
      header #nav-toggle.active span {
        background-color: transparent; }
        header #nav-toggle.active span:before, header #nav-toggle.active span:after {
          top: 0; }
        header #nav-toggle.active span:before {
          transform: rotate(45deg); }
        header #nav-toggle.active span:after {
          transform: rotate(-45deg); } }
  @media screen and (min-width: 600px) and (min-width: 799px) {
    header .nav-list {
      display: block !important; } }

@media screen and (min-width: 600px) {
    header img {
      padding-top: 30vh; }
    header h1 {
      font-family: Oswald;
      font-size: 48px;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: 0em;
      text-align: center;
      color: white;
      padding-bottom: 20px; }
    header p {
      font-family: Source Sans Pro;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: center;
      color: rgba(255, 255, 255, 0.7); }
  .text-section {
    background-color: #eeeeee;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    /* use viewport-relative units to cover page fully */
    height: 100vh;
    width: 100vw;
    align-items: center;
    text-align: center; }
    .text-section h1 {
      padding-top: 10vh;
      font-family: Oswald;
      font-size: 48px;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: 0em;
      text-align: center;
      color: #464547;
      padding-bottom: 25px; }
    .text-section h6 {
      font-family: Source Sans Pro;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: center;
      color: #666666; }
    .text-section .grid {
      padding-top: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .text-section .grid .p1 {
        padding-top: 15px;
        padding-left: 150px;
        padding-right: 35px;
        font-size: 16px;
        font-family: Source Sans Pro;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        color: #666666; }
      .text-section .grid .p2 {
        padding-top: 15px;
        padding-left: 35px;
        padding-right: 150px;
        font-family: Source Sans Pro;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        color: #666666; }
    .text-section button {
      height: 36px;
      width: 115px;
      left: 0px;
      top: 0px;
      border-width: 0;
      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 0%;
      background: #55c2d8;
      border-radius: 18px; }
      .text-section button span {
        left: 15.65%;
        right: 14.78%;
        top: 13.89%;
        bottom: 16.67%;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        /* or 186% */
        text-align: center;
        letter-spacing: 0.1em;
        color: #ffffff; }
  .video {
    background: url("../../assets/img/video.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    align-items: center;
    align-content: center; }
    .video img {
      padding-top: 10vh;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 10%; }
    .video h1 {
      padding-top: 120px;
      font-family: "Oswald";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      /* or 133% */
      text-align: center;
      color: #ffffff; }
    .video p {
      padding-top: 40px;
      font-family: Source Sans Pro;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: center;
      color: white; }
  footer {
    width: 100vw;
    height: 199px;
    background: #464547; }
    footer .parent {
      display: grid;
      grid-template-columns: 1fr repeat(2, 2fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px; }
    footer .div1 {
      grid-area: 1 / 1 / 2 / 2;
      display: flex;
      padding-top: 37px;
      padding-left: 153px;
      font-family: Source Sans Pro;
      font-size: 18px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.2em;
      text-align: left;
      text-transform: uppercase;
      color: #ffffff; }
      footer .div1 img {
        width: 20px; }
      footer .div1 .flex-child {
        flex: 1; }
      footer .div1 .flex-child:first-child {
        margin-right: 20px; }
    footer .div2 {
      grid-area: 1 / 2 / 2 / 3;
      padding-top: 39px;
      padding-left: 81px;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      /* or 119% */
      color: rgba(255, 255, 255, 0.4); }
    footer .div3 {
      grid-area: 1 / 3 / 2 / 4; }
    footer .div4 {
      grid-area: 2 / 1 / 3 / 2; }
    footer .div5 {
      grid-area: 2 / 2 / 3 / 3;
      padding-top: 39px;
      padding-left: 81px;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      /* or 119% */
      /* visited link */
      /* mouse over link */
      /* selected link */ }
      footer .div5 a {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* or 119% */
        color: rgba(255, 255, 255, 0.4); }
      footer .div5 a:link {
        color: rgba(255, 255, 255, 0.4); }
      footer .div5 a:visited {
        color: rgba(255, 255, 255, 0.4); }
      footer .div5 a:hover {
        color: rgba(255, 255, 255, 0.4); }
      footer .div5 a:active {
        color: rgba(255, 255, 255, 0.4); }
    footer .div6 {
      grid-area: 2 / 3 / 3 / 4;
      padding-top: 39px;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      /* or 119% */
      color: rgba(255, 255, 255, 0.4); }
  * {
    margin: 0px; } }

@media screen and (max-width: 600px) {
  header {
    background: url("../../assets/img/bg_menu.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    /* use viewport-relative units to cover page fully */
    height: 100vh;
    width: 100vw;
    /* include border and padding in element width and height */
    /* full-sized  container that fills up the page */
    /* example padding, font-size, background, etc */
    text-align: center;
    align-items: center;
    align-content: center; }
    header .navigation {
      height: 70px;
      background: transparent; }
    header .nav-container {
      max-width: 1000px;
      margin: 0 auto; }
    header .brand {
      position: absolute;
      padding-left: 20px;
      float: left;
      line-height: 70px;
      text-transform: uppercase;
      font-size: 1.4em;
      font-family: Source Sans Pro;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.1em; }
      header .brand a,
      header .brand a:visited {
        color: #ffffff;
        text-decoration: none; }
    header nav {
      display: flex;
      justify-content: center; }
      header nav ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        header nav ul li {
          float: left;
          position: relative; }
          header nav ul li a {
            display: block;
            padding: 10px 20px 0 20px;
            line-height: 50px;
            background: transparent;
            color: #ffffff;
            text-decoration: none;
            font-family: Source Sans Pro;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.2em; }
            header nav ul li a::before {
              transition: 300ms;
              height: 5px;
              content: "";
              position: absolute;
              background-color: #ffffff;
              width: 0%;
              bottom: 0px; }
            header nav ul li a:hover::before {
              width: 70%; }
            header nav ul li a:not(:only-child):after {
              padding-left: 4px;
              content: " ▾"; }
          header nav ul li ul li {
            min-width: 190px; }
            header nav ul li ul li a {
              padding: 15px;
              line-height: 20px; }
    header .nav-dropdown {
      display: none;
      position: absolute;
      z-index: 1;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }
    header .nav-mobile {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      height: 70px;
      width: 70px; } }
  @media only screen and (max-width: 600px) and (max-width: 799px) {
    header .nav-mobile {
      display: block; }
    header nav {
      width: 100%;
      padding: 70px 0 15px; }
      header nav ul {
        display: none; }
        header nav ul li {
          float: none; }
          header nav ul li a {
            padding: 15px;
            line-height: 20px; }
            header nav ul li a:hover::before {
              width: 20%; }
          header nav ul li ul li a {
            padding-left: 30px; }
    header .nav-dropdown {
      position: static; } }

@media screen and (max-width: 600px) {
    header #nav-toggle {
      position: absolute;
      left: 18px;
      top: 22px;
      cursor: pointer;
      padding: 10px 35px 16px 0px; }
      header #nav-toggle span,
      header #nav-toggle span:before,
      header #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: #ffffff;
        position: absolute;
        display: block;
        content: "";
        transition: all 300ms ease-in-out; }
      header #nav-toggle span:before {
        top: -10px; }
      header #nav-toggle span:after {
        bottom: -10px; }
      header #nav-toggle.active span {
        background-color: transparent; }
        header #nav-toggle.active span:before, header #nav-toggle.active span:after {
          top: 0; }
        header #nav-toggle.active span:before {
          transform: rotate(45deg); }
        header #nav-toggle.active span:after {
          transform: rotate(-45deg); } }
  @media screen and (max-width: 600px) and (min-width: 799px) {
    header .nav-list {
      display: block !important; } }

@media screen and (max-width: 600px) {
    header img {
      padding-top: 30vh; }
    header h1 {
      font-family: Oswald;
      font-size: 48px;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: 0em;
      text-align: center;
      color: white;
      padding-bottom: 20px; }
    header p {
      font-family: Source Sans Pro;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: center;
      color: rgba(255, 255, 255, 0.7); }
  .text-section {
    background-color: #eeeeee;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    /* use viewport-relative units to cover page fully */
    height: 130vh;
    width: 100vw; }
    .text-section h1 {
      padding-top: 5vh;
      font-family: Oswald;
      font-size: 48px;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: 0em;
      text-align: center;
      color: #464547;
      padding-bottom: 25px;
      text-align: center; }
    .text-section h6 {
      font-family: Source Sans Pro;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      color: #666666;
      padding: 0px 20px;
      padding-bottom: 20px; }
    .text-section p {
      font-family: Source Sans Pro;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      color: #666666;
      padding: 0px 20px;
      padding-bottom: 20px; }
  .button {
    text-align: center; }
    .button button {
      left: 50%;
      height: 36px;
      width: 115px;
      top: 0px;
      border-width: 0;
      background: #55c2d8;
      border-radius: 18px; }
      .button button span {
        text-align: center;
        left: 15.65%;
        right: 14.78%;
        top: 13.89%;
        bottom: 16.67%;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        /* or 186% */
        text-align: center;
        letter-spacing: 0.1em;
        color: #ffffff; }
  .video {
    background: url("../../assets/img/video.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    align-items: center;
    align-content: center; }
    .video img {
      padding-top: 10vh;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%; }
    .video h1 {
      padding-top: 120px;
      font-family: "Oswald";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      /* or 133% */
      text-align: center;
      color: #ffffff; }
    .video p {
      padding-top: 20px;
      font-family: Source Sans Pro;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: center;
      color: white; }
  footer {
    width: 100vw;
    height: 199px;
    background: #464547; }
    footer .parent {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px; }
    footer .div1 {
      margin: auto;
      grid-area: 1 / 1 / 2 / 2;
      display: flex;
      font-family: Source Sans Pro;
      padding-top: 10px;
      font-size: 18px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #ffffff; }
      footer .div1 img {
        width: 20px; }
      footer .div1 .flex-child {
        flex: 1; }
      footer .div1 .flex-child:first-child {
        margin-right: 10px; }
    footer .div2 {
      grid-area: 2 / 1 / 3 / 2;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      /* or 119% */
      color: rgba(255, 255, 255, 0.4); }
    footer .div5 {
      grid-area: 3 / 1 / 4 / 2;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      /* or 119% */
      /* visited link */
      /* mouse over link */
      /* selected link */
      text-align: center; }
      footer .div5 a {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* or 119% */
        color: rgba(255, 255, 255, 0.4); }
      footer .div5 a:link {
        color: rgba(255, 255, 255, 0.4); }
      footer .div5 a:visited {
        color: rgba(255, 255, 255, 0.4); }
      footer .div5 a:hover {
        color: rgba(255, 255, 255, 0.4); }
      footer .div5 a:active {
        color: rgba(255, 255, 255, 0.4); }
    footer .div6 {
      grid-area: 4 / 1 / 5 / 2;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      /* or 119% */
      color: rgba(255, 255, 255, 0.4);
      text-align: center; }
    footer .div3 .div4 {
      display: none; }
  * {
    margin: 0px; } }
